.btn{
    width: 130px;
    height: 50px;
    background-color: #F56F5E;
    color: white;
}

.d-flex :hover{
background-color: white;
color: blue;
}
.navbar-nav{
    margin-left: 375px;
}
.nav-link{
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.an{

    background-color: #FCFCFC;
}
.an1{
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}
.ana{
    margin-top: -35px;
    width: 1000px;
    margin-left: 15px;
}
.an2{
    background-color: #FCFCFC;
}
span{
    color: #F56F5E;
}
.an3{
font-weight: 800;
    margin-top: 50px
}
.an4{
    font-weight: 900;
    font-size: 50px;
}
.an7{
    font-size: 38px;
    font-weight: 900;
    color: #F56F5E;
}
.an8{
    font-size: 17px;
    font-weight: 800;
}
.table{
    margin-top: 15px;
}
.an9{
    background-color: black;
    margin-top: -200px;
}
.am1{
color: white;
font-weight: 900;
    font-size: 40px;

}
.am2{
color: #99997E;
font-size: 15px;
margin-left: 10px;
}
.ar1{
    background-color: #F7F7F7;
}
.image-fluid{
    width: 600px;
    margin-left: 204px;
    margin-top: -80px;
}
.ar2{
    text-align: center;
    margin-top: -100px;
}